{% extends "rebase/base.html" %}

{% block content %}
		<h1>Aw, snap</h1>
		<p>My Fault, This should not happen</p>  
		<p>Please try again later.</p>
{% endblock %}



{% block footer%}
    <div class="span10">
        <p> Armen Arsakian updated at <span class="siteupdate">{{siteupdated}}</span><span class="countdown">  {{daysleft}} . {{dayspassed}}</span></p>
    </div>
    <div class="span1 offset1">
        <span class="version"><a href="/built with...">{{codeversion}}</a></span>
    </div>

{% endblock %}
