{% import "bootstrap/wtf.html" as wtf %}

{% block answers %}

<div id="answers-container"> </div>
<div id="gcharts-container"> </div>



<script  id="answers-layout" type="text/x-handlebars-template">

 <div class="answers-layout-container col-12"></div>
 <div class="g-charts-layout col-12"></div>
</script>

<script id="post-answers" type="text/x-handlebars-template">
<form class="form form-horizontal row" method="post" role="form">
    {{ answers_field.hidden_tag()}}
    <table class="answer table border table-hover row col-12" data-id="{{Post.id}}">


  <tbody class="row col-12 no-gutters">
        {% for f in answers_field.r_answers%}


        <tr class="row col-12 no-gutters">

            <td class="col-1">
                <input  type="radio" id="r_answers-{{loop.index}}" class="answer-choice"
                                                 name="r_answers">
            </td>
            <td class="col-11"><label for="r_answers-{{loop.index}}">{{f.label}}</label></td>
            </td>

        </tr>

        {% endfor %}
        </tbody>
    </table>

    {{ wtf.form_field(answers_field.submit, type="submit", class="disabled col-md-2 col-sm-4 .mx-left float-left btn btn-primary
    submit button")}}

</form>

</script>

{% raw %}
<script id="answers-graph" type="text/x-handlebars-template">
  <div id="gviz"></div>
</script>
{% endraw %}



{% block gscripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}


{% endblock %}