{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}
{% import "bootstrap/utils.html" as util %}


{% block title %}title{% endblock %}

{% block head %}
{{super()}}
{% block metas %}
<meta name="description" content="A blog about programming, computer forensics">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Armen Arsakian">
{% endblock %}

<!--<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">-->


<!-- build:css /static/css/combined.css -->
<link href="../static/css/lib/fontawesome-all.min.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet" media="screen">
<!-- endbuild -->

<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
-->
<link href="{{ url_for('recent_feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml">
<link href='//fonts.googleapis.com/css?family=Merriweather:400' rel='stylesheet' type='text/css'>
{% endblock %}


{% block body %}
<div class="container-fluid w-100 px-5 row-12">
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show p-2 messages" role="alert">
        <button type="button" class="close p-1" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ message }}</strong>
    </div>

    {% endfor %}

    {% endif %}
    {% endwith %}
    <div class="row col-12" id="searchfield">
        <div class="row ml-auto col-sm-8 col-xs-4">

            <form class="navbar-search col-sm-8 col-xs-4 ml-auto" id="searchform">
                <div class="typeahead__container">
                    <div class="typeahead__field">

            <span class="typeahead__query">
                <input class="form-control typeahead" data-provide="typeahead"
                       name="" placeholder="Search" autocomplete="off" type="search">
            </span>


                    </div>
                </div>
            </form>


        </div>
    </div>


    <nav id="hd" class="row col-12 mt-md-3 mb-md-2 mb-xs-1 navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active mr-md-2">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item mr-md-2">
                    <a class="nav-link" href="/archives">ARCHIVES</a>
                </li>
                <li class="nav-item mr-md-2">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item icon">
                    <a class="nav-link" href="https://www.linkedin.com/in/arsakian"><i class="fab fa-linkedin"
                                                                                       aria-hidden="true"></i></a>
                </li>
                <li class="nav-item icon">
                    <a class="nav-link" href="https://twitter.com/aarsakian"><i class="fab fa-twitter-square"
                                                                                aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item icon">
                    <a class="nav-link" href="https://github.com/aarsakian"><i class="fab fa-github-square"
                                                                               aria-hidden="true"></i></a>
                </li>
                <li class="nav-item icon ">
                    <a class="nav-link" href="/recent.atom"><i class="fas fa-rss-square" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="row col-12" id="bd">
        {% block content %}<!-- main content area --> {% endblock %}
    </div>
    <div class="row col-12" id="ld">
        {%if user_status%}
        <div id="newpost" class="clear">
            {% block new_post%}{% endblock %}
        </div>
        {%endif%}
    </div>


    <div class="row col-12" id="ft">
        {% block footer %}<!-- main content area --> {% endblock %}
    </div>
</div>


{%if user_status%}
<script id="post-list-layout" type="text/x-handlebars-template">
    <div class="list-container col-12"></div>
    <div class="actions-bar-container col-10"></div>
    <div class="post-form-container col-12"></div>

</script>

<script id="post-form-layout" type="text/x-handlebars-template">
    <div id="preview-container" class="row col-12"></div>
    <div class="post-form-container row col-12"></div>

</script>

<script id="tag-list-layout" type="text/x-handlebars-template">
    <div class="tag-list-container"></div>
</script>

<script id="tag-list-template" type="text/x-handlebars-template">

    <a class="button taggy" href="/tags#!{{'{{'}}tag{{'}}'}}">{{'{{'}}tag{{'}}'}}</a>
</script>

<script id="collection-template" type="text/x-handlebars-template">
    <h1> {{'{{'}}#unless type{{'}}'}}
        {{'{{'}}title{{'}}'}}
        {{'{{'}}/unless{{'}}'}}
        {{'{{'}}#if type{{'}}'}}<!--if type not undefined -->
        {{'{{'}}title{{'}}'}}
        {{'{{'}}/if{{'}}'}}


    </h1>
</script>

<script id="categories-template" type="text/x-handlebars-template">
    <a class="button taggy" href="/categories#!{{'{{'}}category{{'}}'}}">{{'{{'}}category{{'}}'}}</a>

</script>
<!-- post area-->
<script id="post-list-item" type="text/x-handlebars-template">
    <div data-id={{'{{'}}id{{'}}'}} class="postKey">
        {{'{{'}} form.csrf_token {{'}}'}}
        <div class="postTitle">
            <h3> <!--{{'{{'}}#if user_admin{{'}}'}} class=--><!--"title editable admin">-->

                {{'{{'}}/if{{'}}'}}-->
                <a href="edit/{{'{{'}}id{{'}}'}}"> {{'{{'}}title{{'}}'}}</a>
            </h3>
            <!-- {{'{{'}}#if user_admin{{'}}'}} -->


            <input class="post-title editmode" name="title" placeholder="">
            <!--	{{'{{'}}/if{{'}}'}} -->
        </div>


        <div {{
        '{{'}}#if user_admin{{'}}'}}

        class="editable admin article clear"
        {{'{{'}}/if{{'}}'}}
        class="viewable admin article clear"

        {{'{{'}}#unless user_admin{{'}}'}}

        class="article clear"
        {{'{{'}}/unless{{'}}'}}>

        {{'{{{'}}body{{'}}}'}}

        {{'{{'}}#if body100{{'}}'}}
        <span class="morelink"> <a href="/{{'{{'}}    category  {{'}}'}}/{{'{{'}}title{{'}}'}}">Read More</a></span>
        {{'{{'}}/if{{'}}'}}
    </div>


    {{'{{'}}#if user_admin{{'}}'}}
    <textarea class="clear editmode" type="text">{{ '{{' }}post{{ '}}' }}</textarea>
    {{'{{'}}/if{{'}}'}}


    </div>
    <!--      <span class="backlink"><a href="/{{'{{'}}    category  {{'}}'}}">
               <img src="{{url_for('static', filename='images/arrow_left_16x16.png')}}" alt="Back"/>
            <img src="{{url_for('static', filename='images/arrow_left_16x16.png')}}" alt="Back"/>
                <img src="{{url_for('static', filename='images/arrow_left_16x16.png')}}" alt="Back"/></a></span>-->


    <div class="links">
        {{'{{'}}#unless type{{'}}'}}
        <div class="btn-group">
            {{'{{'}}#each tags{{'}}'}}

            <a class="btn tag" href="/tags/{{'{{'}}this{{'}}'}}">{{'{{'}}this{{'}}'}}</a>
            {{'{{'}}/each{{'}}'}}
        </div>
        {{'{{'}}/unless{{'}}'}}


        <div class="btn-group">
            <button class="edit btn"><i class="icon-edit"></i>Edit</button>
            <button class="save btn"><i class="icon-save"></i>Save</button>
            <button class="destroy btn"><i class="icon-remove"></i>Delete</button>
            <button class="edit-tags btn"><i class="icon-tag"></i>Edit Tags</button>
        </div>


    </div><!--closes links-->

    </div>
</script>


{%endif%}

<!--<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>-->


<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38392254-1"></script>-->


{% block scripts %}


{{super()}}
{%if request.url_root == "https://arsakian.com/" %}

    {{google.uanalytics('UA-38392254-1')}}
{% endif %}


{% endblock %}



<script src="{{url_for('static', filename='js/prod/general.min.js')}}"></script>

<script src="{{url_for('static', filename='js/prod/app.min.js')}}"></script>


{% endblock %}


