
{% block footer%}
<div id="ftinner" class="row px-1 pt-1 col-12">
    <div class="col-9">
        <p> &copy; 2012 - 2022 Armen Arsakian updated at <span class="siteupdate">{{siteupdated}}</span><span class="contactinfo">Contact: contact at arsakian.com</span>
        </p>
    </div>

    <div class="col-3 text-right">
        <span class="countdown">  {{daysleft}} . {{dayspassed}}</span>

        <span class="version"><a href="/built with...">{{codeversion}}</a></span>
    </div>
</div>

{% endblock %}
