{% extends "rebase/base.html" %}

{% block title %}Armen Arsakian personal blog{% endblock %}

{% block header %}

   {{ super() }}
        {%if tags%}
             {%for tag in tags%}
			          <meta name="keywords"  	content={{tag}}>
		     {% endfor %}
        {%endif%}
{% endblock %}

{% block content%}

    
    {%if posts %}
    <div class="page-header clear">
	<div class="page-header-inner">
	    <h2>My posts</h2>

        </div>
	    
    </div>
	<div id="posts" id="bdinner">
	    {%for post in posts%}
		<div  data-id="{{post.id}}" class="classic">
		   <h2><a href="/{{post.category}}/{{post.timestamp|datetimeformat('%Y')}}
				/{{post.timestamp|datetimeformat('%m')}}/{{post.title|trim}}">
               {{post.title}}</a></h2>
		    <div class="row">
              
			<div class="post col-md-9">
			   <div class="row date">
			     <div id="date" class="col-md-3 col-md-offset">
			        Created: {{post.timestamp|datetimeformat('%d %B %Y')}}
			     </div>
			   </div>
				  <div  class="article clear">
				    {{post.body}}
		      
				</div><!--closes article-->
			</div><!--closes post-->
		     
		       <div class="col-md-3">
			    {%for Post in RelatedPosts%}
				    
				    <div class="row post">
				  
				  
					<h3 class="editable"><a href="/{{Post.category.category}}/{{Post.title|trim|lower}}">{{Post.title}}</a></h3>
					<div class="row" id="date">Created: {{Post.timestamp|datetimeformat('%d-%m-%Y')}}	 </div>
					<div class="row" id="updated"> Updated: {{ Post.updated|datetimeformat('%d-%m-%Y')}}    </div>
				    </div>
			       {% endfor %}
			
			
		      </div>    
		</div>
		
             </div>		
	{% endfor %}
      </div>
    {%endif%}
    {%if not posts %}
	<div class="page-header clear">
	<div class="page-header-inner">
	    <h2>Sorry, No results found</h2>
        </div>
	    
    </div>
	
    {%endif%}
    
    <div id="newpost" class="clear">
            <!--holdes a form for new post--> 
    </div>
    {%if user_status%}
        <div class="links">   
            <a class="btn edit" href="/edit">Edit</a>
                          
        </div>
    {%endif%}
 
    
{% endblock %}

{% block footer%}
<div id="ftinner">
    <div class="col-md-6">
        <p> Armen Arsakian updated at <span class="siteupdate">{{siteupdated}}</span><span class="contactinfo">Contact: contact at arsakian.com</span></p>
    </div>
 
    <div class="col-md-3 col-md-offset-3">
    <span class="countdown">  {{daysleft}} . {{dayspassed}}</span>

        <span class="version"><a href="/built with...">{{codeversion}}</a></span>
    </div>
</div>
  
{% endblock %}
