{% extends "base.html" %}

{% block title %}
    Armen Arsakian personal blog
{% endblock %}


{% block header %}

   {{ super() }}
         {%if tags%}
             {%for tag in tags%}
			          <meta name="keywords"  	content={{tag.tag}}>
		     {% endfor %}
         {%endif%}
{% endblock %}

{% block content%}

    <div class="page-header">
	<div class="page-header-inner">
        </div>
    </div>
    <div class="span10" id="bdinner">
        <div id="tags">

            <ul id="taglist">
            </ul>
        </div>
        <div id="categories">

            <ul id="categorylist">
            </ul>
        </div>
	<div id="posts">
            
            {%if Post %}
              
              
              
                <h2 class="editable">{{Post.title}}</h2>
                    <div class="post clear">
                        <div  id="{{Post.key}}" class="classic">
                            <!--<div class="postTitle">
                         
	              
                            </div>-->
			
			      <span id="date" >Created:{{Post.timestamp|string|truncate(16,killwords=True,end='')}}	 </span>
			      <span id="updated"> Updated:{{ Post.updated|string|truncate(16,killwords=True,end='')}}    </span>
                           
                            <div id="socialinks">      
                                <a href="https://twitter.com/share" class="twitter-share-button"
                                    data-url="http://aarsakian.appspot.com" data-text={{Post.title}}
                                    data-via="Aarsakian's blog" data-lang="en" hashtags="{{Post.category.category}}/{{Post.timestamp|datetimeformat('%Y')}}/{{Post.timestamp|datetimeformat('%B')}}/{{Post.title}}"
                                >
				Tweet</a>
		               <span class="gplus"><g:plusone size="medium"  align="right"></g:plusone></span>
		           </div>
                        
		         <div  class="article clear">
		              {{Post.body}}
		             <!--<span class="backlink"><a href="/categories#{{Post.catname}}">
			        <img src="{{url_for('static', filename='images/arrow_left_16x16.png')}}" alt="Back"/>
				 <img src="{{url_for('static', filename='images/arrow_left_16x16.png')}}" alt="Back"/>
				     <img src="{{url_for('static', filename='images/arrow_left_16x16.png')}}" alt="Back"/></a></span>-->
		      
		
                            <div class="links">
                                {%for tag in tagnames%}
                                    <a class="button tag" href="/tags#{{tag}}">{{tag}}</a>
                                 {% endfor %}
                            </div><!--closes links-->
		      
                        </div><!--closes article-->
              
                    </div><!--closes post-->
                </div>
       
            {%endif%}			
	   
        </div>
        <div id="newpost" class="clear">
            <!--holdes a form for new post--> 
        </div>
    </div>
    <div class="span2">
		 <!--Sidebar content-->
    </div>
    
{% endblock %}

{% block footer%}
    <div class="span10">
        <p> Armen Arsakian updated at <span class="siteupdate">{{siteupdated}}</span><span class="countdown">  {{daysleft}} . {{dayspassed}}</span>
    </div>
    <div class="span1 offset1">
        <span class="version"><a href="/built with">v:0.5</a></span>
        
    </div></p>
  
{% endblock %}
