{% import "bootstrap/wtf.html" as wtf %}

{% block new_post %}
{%if user_status%}
<script id="post-form" type="text/x-handlebars-template">

     <form class="form form-horizontal row col-12" method="post"  role="form">
         {{ form.hidden_tag()}}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.title, id="new-post-title",placeholder="Enter your title here")}}
        {{ wtf.form_field(form.summary, id="new-post-summary",placeholder="Enter your summary here")}}
        {{ wtf.form_field(form.body, rows=8,  id="new-post-body", type="text")}}
        {{ wtf.form_field(form.category, id="new-post-category",
        placeholder="Enter your category or use existing one")}}
        {{ wtf.form_field(form.tags,id="new-post-tags",
         placeholder="Enter your tags here,use comma between")}}
         <div class="answers col-12 row">
         {% for l in form.answers %}
            {{ wtf.form_field(l.form.p_answer,  class="new-post-answer col-10",
           placeholder="Answer") }}
            {{ wtf.form_field(l.form.is_correct, label="", value="", checked='',
         class="new-post-answer-is-correct col-2") }}
        {% endfor %}

        {{ wtf.form_field(form.submit, type="submit", class="submit button")}}
         </div>
    </form>
</script>
{%endif%}
{% endblock %}