{% import "bootstrap/wtf.html" as wtf %}

{% block new_survey %}
<script id="survey-form" type="text/x-handlebars-template">


    <form class="form form-horizontal row col-12" method="post"
          role="form">
        {{ form.hidden_tag()}}
        {{ wtf.form_errors(form, hiddens="only") }}

          <div class="answers col-12 row">

            {{'{{'}}#unless answers{{'}}'}}


            {% for l in form.answers %}
            {{ wtf.form_field(l.p_answer, class="new-post-answer col-10",
            placeholder="Answer") }}

            {% endfor %}
            {{'{{'}}/unless{{'}}'}}


            {{'{{'}}#each answers{{'}}'}}
            <div class="col-11 my-1">
                <label class="form-control-label" for="answers-{{'{{'}}@index{{'}}'}}-p_answer">

                </label>

                <input class="new-post-answer col-11" id="answers-{{'{{'}}@index{{'}}'}}-p_answer"
                       name="answers-{{'{{'}}@index{{'}}'}}-p_answer"
                       placeholder="Answer" type="text" value="{{'{{'}}this.p_answer{{'}}'}}">

            </div>



            {{'{{'}}/each{{'}}'}}


        </div>
    </form>

</script>
{% endblock %}