{% import "bootstrap/wtf.html" as wtf %}

{% block new_post %}
{%if user_status%}
<script id="post-form" type="text/x-handlebars-template">


    <form class="form form-horizontal row col-12"  method="post"
          role="form">
        {{ form.hidden_tag()}}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.title, id="new-post-title",placeholder="Enter your title here")}}
        {{ wtf.form_field(form.summary, id="new-post-summary",placeholder="Enter your summary here")}}

        {{ wtf.form_field(form.body, rows=8, id="new-post-body", type="text")}}
        <div id="preview-post-body" class="col-12 border border-info"></div>
        {{ wtf.form_field(form.category, id="new-post-category",
        placeholder="Enter your category or use existing one")}}
        {{ wtf.form_field(form.tags,id="new-post-tags",
        placeholder="Enter your tags here,use comma between")}}


        <div class="answers row mt-3">

            {{'{{'}}#unless answers{{'}}'}}


            {% for l in form.answers %}
                <div class="row answer3">
                    {{ wtf.form_field(l.p_answer, class_="new-post-answer col-10",
                    placeholder="Answer") }}
                    {{ wtf.form_field(l.is_correct,
                    class_="form-check-input col-1") }}
                </div>
            {% endfor %}
            {{'{{'}}/unless{{'}}'}}


            {{'{{'}}#each answers{{'}}'}}
               
                    <div class="col-11 my-1">
                        <label class="form-control-label" 
                        for="answers-{{'{{'}}@index{{'}}'}}-p_answer">
                        </label>

                        <input class="new-post-answer col-11" id="answers-{{'{{'}}@index{{'}}'}}-p_answer"
                            name="answers-{{'{{'}}@index{{'}}'}}-p_answer"
                            placeholder="Answer" type="text" 
                            value="{{'{{'}}this.p_answer{{'}}'}}">

                    </div>
                    <div class="col-1 my-1">
                        <label class="form-check-label">
                            Is Correct
                        </label>
                        <input class="form-check-input" id="answers-0-is_correct" name="answers-0-is_correct"
                            type="checkbox"
                            {{'{{'}}# if this.is_correct{{'}}'}}
                                    checked = "checked"
                                {{'{{'}}/if{{'}}'}}>
                    </div>
                </div>
            {{'{{'}}/each{{'}}'}}


        </div>
 <div id="images" class="col-12 row">
  {{'{{'}}#each images{{'}}'}}
                <button data-image-filename="{{'{{'}}this.filename{{'}}'}}" class="delete-image btn btn-link"><i class="far fa-trash-alt"></i></button>

                <img  class="img-fluid col-5"   src={{request.url_root}}images/{{'{{'}}this.filename{{'}}'}} alt={{'{{'}}this.filename{{'}}'}}
                                               title={{'{{'}}this.filename{{'}}'}}>


  {{'{{'}}/each{{'}}'}}
     </div>
        <div id="preview" class="img-fluid col-2 row"></div>
         {{wtf.form_field(form.images_upload,  id="files", multiple='')}}
        {{wtf.form_field(form.submit, type="submit", id="post-submit",
        class="submit btn btn-primary m-3 col-2" )}}

    </form>

</script>
{%endif%}
{% endblock %}