{% extends "rebase/base.html" %}

{% block title %}Armen Arsakian personal blog{% endblock %}


{% block header %}

{{ super() }}
{%if tags%}
{%for tag in tags%}
<meta name="keywords" content={{tag}}>
{% endfor %}
{%endif%}
{% endblock %}

{% block content%}
<div class="page-header clear col-12 my-md-5 my-sm-2 my-xs-1">
    <div class="page-header-inner">
        <h1>Recent posts</h1>

    </div>

</div>

<div id="posts" class="col-12">
    {%if posts %}
    {%for Post in posts%}

    <div class="row col-12 my-2 mx-0 list post_key" data-id="{{Post.id}}">


        <div class="post col-md-9 col-sm-12">
            <div class="classic">
                {% set timestamp = Post.timestamp.split(' ') %}

                <h3 class="editable"><a href="{{Post.category}}/{{timestamp[-2]}}
				/{{timestamp[-1]}}/{{Post.title|trim}}">{{Post.title}}</a></h3>
                <div class="date text-right my-1">Created: {{Post.timestamp}}</div>
                <div class="article clear">
                    {{Post.body|markdown|safe|truncate(250)}}
                </div><!--closes article-->

            </div><!--closes post-->
        </div>
        <div class="col-md-3 post text-right row-xs col-xs-12">

            <!--Sidebar content-->
            <div class="links" style="font-size: 22px;">
                {%if user_status%}
                <a class="btn edit" href="/edit/{{Post.id}}">Edit</a>
                {%endif%}
                {%if Post.tags%}
                <a class="tags " href="/tags"><i class="icon-tags"></i></a>

                {%for tag in Post.tags%}
                <a class="tag" href="/tags/{{tag}}">{{tag}}</a>
                {%endfor%}

                {%endif%}

            </div><!--closes links-->



        </div>

    </div>
    {% endfor %}
    {%endif%}
</div>

{%if user_status and posts%}
<div class="links">
    <a class="btn edit" href="/edit">Edit</a>

</div>
{%endif%}


{% endblock %}


{% block new_post %}
  {% include 'new_post.html' %}
{% endblock %}


{% block footer%}
{% include 'footer.html' %}

{% endblock %}


