{% extends "base.html" %}

{% block title %}
Armen Arsakian personal blog
{% endblock %}


{% block header %}

{{ super() }}
{%for tag in posttagnames%}
<meta name="keywords" content={{tag}}>
{% endfor %}
{% endblock %}

{% block content%}
{%if Post %}
<div class="page-header row col-12 my-md-4 mx-0 py-1">
    <h2 class="editable">{{Post.title}}</h2>
</div>

<div class="col-md-12 row my-md-2">
    <div class="date col-5 text-left my-1">Created: {{Post.timestamp}}</div>
    <div class="date col-5 text-left  my-1"> Updated: {{Post.updated}}</div>

</div>
<div class="row" id="socialinks">

    <div class="col-md-1">

        <!--<div class="col-md-2 offset3"><a href="https://twitter.com/share" class="twitter-share-button"
                                         data-url="http://aarsakian.appspot.com" data-text="{{Post.title}}"
                                         data-via="Aarsakian's blog" data-lang="en"
                                         hashtags="{{category}}/{{Post.title}}">
            Tweet</a>

        <div class="offset1 span1">
            <span class="gplus"><g:plusone size="medium" align="right"></g:plusone></span>
        </div>-->
    </div>
</div>


<div id="row col-12">

    <div class="post col-md-9">

        <div data-id="{{Post.id}}" class="article classic">
            {{Post.body}}
            <!--<div class="postTitle">


            </div>-->


        </div><!--closes post-->
    </div>


    <div class="col-md-3">

        {%for relPost in RelatedPosts%}

        <div class="row post">


            <h3 class="editable">
                <a href="/{{relPost.get_category()}}/{{relPost.timestamp|datetimeformat('%Y')}}/{{relPost.timestamp|datetimeformat('%B')}}/{{relPost.title|trim}}">{{relPost.title}}</a>
            </h3>
            <div class="row" id="date">Created: {{relPost.timestamp}}</div>
            <div class="row" id="updated"> Updated: {{relPost.updated}}</div>
        </div>
        {{relPost.category.category}}
        {% endfor %}


    </div>


    {%if user_status%}

    <div class="links row">
        <a class="btn edit" href="/edit/{{Post.id}}">Edit</a>

    </div>

    {%endif%}
</div>
{%endif%}

{% endblock %}

{% block footer%}
<div class="col-md-10">
    <p> Armen Arsakian updated at <span class="siteupdate">{{siteupdated}}</span><span class="countdown">  {{daysleft}} . {{dayspassed}}</span>
    </p>
</div>
<div class="col-md-1 offset1">
    <span class="version"><a href="/built with...">{{codeversion}}</a></span>
</div>

{% endblock %}
