{% extends "rebase/base.html" %}

{% block title %}
Armen Arsakian personal blog {{Post.title}}
{% endblock %}


{% block head %}

{{ super() }}
{%for tag in posttagnames%}
<meta name="keywords" content={{tag}}>
{% endfor %}
{% endblock %}

{% block content%}
{%if Post %}

{% block header%}
    {% include 'header.html' %}

{% endblock %}


<div class="col-md-12 row my-md-2 pl-3 pr-1">
    <div class="date col-5 text-left my-1">Created: {{Post.timestamp}}</div>
    <div class="date col-5 text-left  my-1"> Updated: {{Post.updated}}</div>

</div>
<div class="row" id="socialinks">

    <div class="col-md-1">


    </div>
</div>


<div class="col-md-12 row">

    <div class="post col-md-10">

        <div data-id="{{Post.id}}" class="article classic">

            {{Post.body|markdown|safe}}
            <!--<div class="postTitle">


            </div>-->


        </div><!--closes post-->

        <div class="tags row col-md-9">
            {%for tag in Post.tags %}
                <span col-md-4 mx-10>{{tag}}</span>
            {% endfor %}
        </div>


        {%if Post.images != 'None' %}
          {%for image in Post.images%}
            <img src="{{request.url_root}}images/{{image.filename}}">
          {% endfor %}
        {%endif%}


        <div id="answers">
            <div class="answers-container"> </div>
                {% block answers %}

                    {% include 'answers.html' %}
                {% endblock %}

        </div>


    </div>


    <div class="col-md-2">


        {%for relPost in RelatedPosts%}

        <div class="relpost">


            <h3 class="editable mb-20">
                <a href="/articles/{{relPost.get_category()}}/{{relPost.timestamp|datetimeformat('%Y')}}/{{relPost.timestamp|datetimeformat('%B')}}/{{relPost.title|trim}}">{{relPost.title}}</a>
            </h3>
          <div clas="mt-10">
              {{relPost.body|markdown|safe|truncate(150)}}
          </div>
        </div>
        {{relPost.category.category}}
        {% endfor %}


    </div>



</div>
{%endif%}

 {%if user_status%}

    <div class="links">
        <a class="btn edit" href="/edit/{{Post.id}}">Edit</a>

    </div>

    {%endif%}

{% endblock %}




{% block footer%}
{% include 'footer.html' %}

{% endblock %}


