^(.*/)?#.*#$
.*
^(.*/)?.*\.py[co]$
^(.*/)?.*/RCS/.*$
^(.*/)?\..*$
*.pyc
*.idea
*.json
!aarsakian-1e9c52345507.json
!client-secret.json
package-lock.json
credentials.tar.gz
.DS_Store 
bfg-1.14.0.jar
.git/**
google_appengine*
tests/
cover/
scripts/
node_modules/
man/
emulators/
gulpfile.js
virtualEnv*/**
ClientLIBS/**
lib/**
