^(.*/)?#.*#$
.*
^(.*/)?.*\.py[co]$
^(.*/)?.*/RCS/.*$
^(.*/)?\..*$
*.pyc
*.idea
*.json
*.sh
*.log
!client-secret.json
package-lock.json
credentials.tar.gz
.DS_Store 
bfg-1.14.0.jar
.git/**
google_appengine*
tests/
cover/
scripts/
node_modules/
man/
emulators/
ClientLIBS/
gulpfile.js
blog/templates/rebase/
blog/templates/*.html
blog/static/js/libs/
blog/static/js/apps/
README*
gulp

