BeautifulSoup4
click
Flask
Flask-WTF
Flask-Bootstrap4
Flask-Testing
Flask-uploads
Flask-Sitemap
Flask-Login
itsdangerous
Werkzeug
google-cloud-ndb
google-cloud-storage
google-auth
requests
bleach
mistune
itsdangerous
Jinja2
MarkupSafe
pytest
pytest-cov
pytest-mock
freezegun