BeautifulSoup4
click
Flask
Flask-WTF
Flask-Bootstrap4
Flask-Testing
Flask-uploads
Flask-Sitemap
itsdangerous
Werkzeug
GoogleAppEngineCloudStorageClient
google-cloud-ndb
google-cloud-storage
bleach
mistune
itsdangerous
Jinja2
MarkupSafe
gunicorn