/*Initialize*/
body{font-family: 'Merriweather', Geogia, Serif;padding:0px; margin:0px;}

a{color:#2a2a2a;font-family: 'Merriweather', Geogia, Serif;text-decoration:none;}

h2,h3{font-size:2.5em; }

h3{font-size:1.3em;}

ul li{display:inline;list-style-type:none;}

/*Structure*/
#bd,#hd,#ft{width:85%;
    margin-left:9%;
    margin-right:9%;
    text_align:left;
    max-width:900px;
    min-width:400px;
   
  
}

.tweets.fixed {margin-top: 20px;
  position: fixed;width:19%;
  top: 0%;
}
#bd{margin-top:0px;margin-bottom:20px;}
#bdinner, #ftinner, #hdinner{oveflow:hidden;height:100%;}
#hdinner{margin-top:90px;height:100px;}
#left,#right{float:left;}

#right{width:24%;left:64%;margin-top:120px;}

#left{width:74%;margin-right:2%;}

#menu{float:left;width:85%;}

.clear{clear:both;}

.destroy,.tag,.save{float:right;}


/*main menu*/
#nav, #nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
       
}

#nav a {
      
	display: block;
     
}


#nav li {
	float: left;
}

#nav li ul {
	position: absolute;
	width: 80%;
        margin-left:9%;
         
         max-width:900px;
    min-width:400px;
  
	left: -999em;
}


#nav li:hover ul {
	left: 0%;
        z-index:1;
       
        padding:5px 3px 0px 2px;
    
   

    
     
}

#nav li:hover ul, #nav li.sfhover ul {
	   height:45px;
          
}

#taglist{padding-left:0px;}

.article{margin-bottom:20px;padding:20px;line-height:2.1em;}
.tweet{line-height:1.6em;}
.links{margin-top:5px;}
/*styling*/
body{background:url('../images/subtle_dots.png');}
#bd h2{text-shadow:1px 1px #fff;font-size:2.6em;color:#606060;}
#hd #menu{height:50px;}
#nav li{font-size:1.4em;margin-right:25px;}
#nav li a{padding:5px;text-shadow:-1px -1px #f0f0f0;opacity:1;}
#nav li a a{padding:0px;}
#ftinner{border-top:3px solid #505050;}
#hdinner{border-bottom:4px solid #2a2a2a;}
ul .navsub:hover{color:#850900;background-color:#9fbcbc;}
#nav a:hover,ul .navsub:hover,#nav li:hover  a{color:#850900;}
#nav li a.active{color:#662823;}
#nav li li a{font-size:0.6em;}
#nav li:hover ul, #nav li.sfhover ul{max-width:1000px;
    border-bottom:3px solid #746e62;background-color:#c2d2d2;}
#nav li:hover{background-color:#c2d2d2;opacity:0.8}
/*for js interaction*/
.post .destroy,.post .edit-tags{display:none;}
.post:hover .destroy,.post:hover .edit-tags{display:inline;}
#newpost textarea,#newpost input,.post textarea,.post input{border:none;box-shadow: inset 1px 1px 3px 0px #9a9a9a;
color:rgba(75,75,75,0.8);
margin:10px auto 20px auto;width:95%;}
textarea{min-height:60px;}
#newpost input,.post input{width:70%;padding:6px;display:block;}
#posts  .post  .edit{display:inline;}
#posts textarea,#posts  input,.post  .hide,.morelinks .hide{display:none;}
input,textarea{font-size:0.8em;}

/*posts styling*/
.post h3{text-align:center;}
.post a,.post h3{color:#662823;}
.post,.tweets,.prevposts{background:#f9fbfb;border-bottom:1px solid #a8a8a8;margin-bottom:20px;opacity:0.9;
-moz-opacity:0.9;
text-shadow:1px 1px #fefefe;overflow:hidden;height:100%;color:#2a2a2a;}/*328f59*/
.prevposts ul{padding:3px;}
.tweets,.prevposts{border-right:1px solid #a5a5a5;font-size:0.8em;}
#right .content_tweets a,.prevposts ul a{color:#8e2e27!important;}
.tweets h3 a,.prevposts h3{color:#662823;}
.tweets_header,.content_tweets{width:96%;margin:3px 5px;}
.post .article{font-size:0.8em;margin-top:50px;min-width:50px; min-height:30px;}
.backlink{position:relative;font-weight:bold;left:45%}
.backlink img{padding-right:5px;}
#date,#updated{text-align:right;font-style:italic;font-size:0.6em;padding-right:10px;margin:0px;color:#8e2e27;}
#updated{margin-bottom:5px;}
.links .button,#tags .button,#categories .button{border:none;background:url('../images/vertical_cloth.png');
                 color:#fff;border-radius:0px;-moz-border-radius:0px;
text-shadow:none;margin-bottom:5px;margin-top:5px;}
.links .button + .button,.links .button + .button-group,.links .button-group + .button,.links .button-group + .button-group,
#tags .button + .button,#tags .button + .button-group,#tags .button-group + .button,#tags .button-group + .button-group,
#categories.button + .button,#categories .button + .button-group,#categories .button-group + .button,#categories .button-group + .button-group {
margin-left:0px;}
a.button ,#tags a.button{color:#fff;}
#tags a.button,#categories a.button{font-size:1em;padding:10px;margin:0px 0px 5px 0px;}
.links .button:hover,#tags .button:hover,#categories .button:hover{background:#c8be52;border-bottom:1px solid #0a0a04;border-right:1px solid #000;color:#2a2a2a;text-shadow:1px 1px #fff;}
#bd .links .button,#tags .button,#categories .button{border-right:1px solid #fffe85;border-bottom:1px solid #fffe85;}
.morelink{color:#a2726e;font-size:1.1em;}
#ft p{font-size:0.6em;color:#2a2a2a;}
.post .article{margin-top:1px;}
.article a{font-size:1em;text-decoration:underline;color:#4a5a4a;}
#post button .edit{border:1px solid red;}
span.version{float:right;}
span.rss a{float:right;padding-left:7px;}
#gitimg{width:33px;}