{% extends "index.html" %}

{% block title %}
    Armen Arsakian personal blog
{% endblock %}

{% block content%}
  
   
      <div id="left">
      
        <div id="tags">

            <ul id="taglist">
            </ul>
        </div>
        <div id="categories">

            <ul id="categorylist">
            </ul>
        </div>
        <div id="leftinner">
          
          <div id="posts">
            
            {%if Post %}
              
              
              
              
               <div class="post clear"
              
              
                   <div  id="{{Post.key}}">
			<div class="postTitle">
			<h3 class="editable">{{Post.title}}</h3>
	              
		        </div>
			   <div>
			      <span id="date" >Created:{{Post.timestamp|string|truncate(16,killwords=True,end='')}}	 </span>
			 <span id="updated">
			  Updated:{{ Post.updated|string|truncate(16,killwords=True,end='')}}
			  </span>
                   
		           
	               
		     <div  class="article clear">
		         {{Post.body}}
		   
                      {%if user_status%}
                        <div class="links" id="editabout">   
                            <a class="button edit" href="/{{Post.title|trim|lower}}#!edit">Edit</a>
                          
                        </div>
                       {%endif%}
		     </div>
	                
    
	             
		       
		       
		
		      
		      
	         </div>
              
              
              
              
              
        </div>
            {%endif%}
  
   
       
          </div>
         
          <!-- <div id="disqus_thread"> </div>-->
          
          <div id="newpost" class="clear">
         
         </div>
          
      
        </div>
       </div>
        <div id="right">
            <div class="tweets">
                  <div class="tweets_header"><h3>My Tweets</h3></div>
                  <div class="content_tweets"> </div>
                  <div class="tweets_footer"> <span id="bird"></span></a>
                  </div>
         <!--    <a href="https://twitter.com/aarsakian" class="twitter-follow-button" data-show-count="false">Follow @aarsakian</a>-->
            </div>
        
           
            <script type='text/javascript'>
                jQuery(".content_tweets").miniTwitter("aarsakian");
            </script>
        
        </div>              
        

  
    
  
{% endblock %}

{% block footer%}
  
<p> Armen Arsakian updated at <span class="siteupdate">{{siteupdated}}</span><span class="countdown">  {{daysleft}} . {{dayspassed}}</span><span class="version">v:0.3</span></p>
  
{% endblock %}