{% extends "base.html" %}

{% block title %}
    Armen Arsakian personal blog
{% endblock %}

{% block content%}

    <div class="page-header">
	 <h2 class="editable">{{Post.title}}</h2>
    </div>
  
   
            
        {%if Post %}
           
    <div id="row-fluid">
		 <div class="span9" id="bdinner">
                     <div class="post">
			 
			    <div  id="{{Post.key}}" class="classic">
                            <!--<div class="postTitle">
                         
	              
                            </div>-->
			
			      
			      <div class="span3" id="updated"> Updated: {{ Post.updated|datetimeformat('%d-%m-%Y')}}    </div>
                           
                            
                        
		         <div  class="article clear">
		              {{Post.body}}
		      
                        </div><!--closes article-->
              
                    </div><!--closes post-->
                </div>
       
           		
    </div>      
      
	
    
    
    {%endif%}
     {%if user_status%}
        <div class="links">   
            <a class="btn edit" href="/id/{{Post.key()}}/edit">Edit</a>
                          
        </div>
    {%endif%}
</div>
       
 
{% endblock %}

{% block footer%}
    <div class="span10">
        <p> Armen Arsakian updated at <span class="siteupdate">{{siteupdated}}</span><span class="countdown">  {{daysleft}} . {{dayspassed}}</span></p>
    </div>
    <div class="span1 offset1">
        <span class="version"><a href="/built with...">v:0.5</a></span>
    </div>
  
{% endblock %}
