<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{% block title %}title{% endblock %}</title>
        <meta name="description" content="A blog about programming, machine learning">
	<meta name="author" content="Armen Arsakian">
	<meta name="keywords" content="python, gaussian graphical models, javascript, xml, xsl"
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css?v=1" />
	<link rel="stylesheet" href="/static/css/gh-buttons.css?v=1" />
        <link href="{{ url_for('recent_feed') }}" rel="alternate" title="Recent Changes"  type="application/atom+xml">
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400' rel='stylesheet' type='text/css'>
        <script src="{{url_for('static', filename="js/libs/modernizr-2.min.js")}}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/libs/jquery/jquery-1.7.2.min.js"><\/script>')</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="{{url_for('static', filename='js/libs/jquery.minitwitter.js')}}"></script>
	{% block head_script %}<!-- Defer-incapable JavaScript block -->
	
	
	{% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
      	<header>
		<div id="hd">
			{% block header %}
			<div id="hdinner">
				<div id="menu">
				    <ul id="nav">
					<li><a href="/">HOME</a></li>
					<li><a href="/random">RANDOM</a></li>
					<li><a href="/about">ABOUT</a></li>
				 
				    </ul>
				</div>
			
		<span class="rss">
		 <a href="/recent.atom"><img src="{{url_for('static', filename='images/rss_32x32.png')}}" alt="Atom Feed"/></a>
		 <a href="https://github.com/aarsakian"><img id="gitimg" src="{{url_for('static', filename='images/github_icon.png')}}" alt="Atom Feed"/></a>
		
		</span>
			</div>
						    
				{% endblock %}
		</div>
	</header>
	<div id="bd">
	    <div id="bdinner">
	     
		
                
		{% block content %}<!-- main content area -->{% endblock %}
	   
	    </div>
	</div>
	<footer class="clear">
		<div id="ft">
		    <div id="ftinner">
			{% block footer %}{% endblock %}
		    </div>
		</div>
	</footer>
	{% block tail_script %}
		<script id="tags-template" type="text/x-handlebars-template">
		       <a class="button taggy" href="/tags#!{{'{{'}}tag{{'}}'}}">{{'{{'}}tag{{'}}'}}</a>
			
		</script>
		
		<script id="collection-template" type="text/x-handlebars-template">
			 <h2> {{'{{'}}#unless type{{'}}'}}
				{{'{{'}}title{{'}}'}}
				 {{'{{'}}/unless{{'}}'}}
			      {{'{{'}}#if type{{'}}'}}<!--if type not undefined -->
			      {{'{{'}}title{{'}}'}}
			    {{'{{'}}/if{{'}}'}}

			      
			 </h2>
		</script>
		
		<script id="categories-template" type="text/x-handlebars-template">
		       <a class="button taggy" href="/categories#!{{'{{'}}category{{'}}'}}">{{'{{'}}category{{'}}'}}</a>
			
		</script>
		
		
		
		
		
		<script id="entry-template" type="text/x-handlebars-template">
			
		     <div  id={{'{{'}}key{{'}}'}}>
			<div class="postTitle">
			<h3
		            {{'{{'}}#if user_admin{{'}}'}}
		             
				   class="editable admin">
			       
			    {{'{{'}}/if{{'}}'}}
			
		       
			    
			 
		            <a class="title" href="/{{'{{'}}    category  {{'}}'}}/{{'{{'}}title{{'}}'}}">{{'{{'}}title{{'}}'}}</a></h3>
	                     {{'{{'}}#if user_admin{{'}}'}}
  
				
			        <input  id="post-title" class="editmode" name="title" placeholder="">
		             {{'{{'}}/if{{'}}'}}
		        </div>
			   
			   
				    
				         <div id="socialinks">      
		             <a href="https://twitter.com/share" class="twitter-share-button"
			        data-url="http://aarsakian.appspot.com" data-text="{{'{{'}}title{{'}}'}}"
			        data-via="Aarsakian's blog" data-lang="en" hashtags="{{'{{'}}    category  {{'}}'}}/{{'{{'}}key{{'}}'}}"
				>
				Tweet</a>
		          <span class="gplus"><g:plusone size="medium"  align="right"></g:plusone></span>
		        </div>

		        
				    
	               
		     <div  {{'{{'}}#if user_admin{{'}}'}}
		                
				         class="editable admin article clear"
			       
			    {{'{{'}}/if{{'}}'}}
		       class="viewable admin article clear"
			
		        {{'{{'}}#unless user_admin{{'}}'}}
			        
			      class="article clear"
		       {{'{{'}}/unless{{'}}'}}>
		
	             {{'{{{'}}body{{'}}}'}}
		 
		       {{'{{'}}#if body100{{'}}'}}
		       <span class="morelink"> <a href="/{{'{{'}}    category  {{'}}'}}/{{'{{'}}title{{'}}'}}">Read More</a></span>
		       {{'{{'}}/if{{'}}'}}
		     </div>
	                
    
	               {{'{{'}}#if user_admin{{'}}'}}
		     <textarea class="clear editmode" type="text">{{ '{{' }}post{{ '}}' }}</textarea>
	              {{'{{'}}/if{{'}}'}}
		   
		          <div id="date" >Created: {{'{{'}}date{{'}}'}}	 </div>
			 <div id="updated">
			  Updated: {{'{{'}}updated{{'}}'}}
			  </div>
		//        <span class="backlink"><a href="/{{'{{'}}    category  {{'}}'}}">
		//	        <img src="{{url_for('static', filename='images/arrow_left_16x16.png')}}" alt="Back"/>
		//		 <img src="{{url_for('static', filename='images/arrow_left_16x16.png')}}" alt="Back"/>
		//		     <img src="{{url_for('static', filename='images/arrow_left_16x16.png')}}" alt="Back"/></a></span>
		//      
		
		          
		         
		     
		      <div class="links">
		       {{'{{'}}#unless type{{'}}'}}
		              {{'{{'}}#each tags{{'}}'}}
				<a class="button tag" href="/tags#!{{'{{'}}this.tag{{'}}'}}">{{'{{'}}this.tag{{'}}'}}</a>
		               {{'{{'}}/each{{'}}'}}
		            
			{{'{{'}}/unless{{'}}'}}
	                     {{'{{'}}#if user_admin{{'}}'}}
	                    <input  id="post_tag" class="editmode" name="title" placeholder="">
			      <button class="edit-title button">Edit</button>
			    <button class="save hide button">Save</button>
				<button class="destroy button">Delete</button>
				<button class="edit-tags button">Edit Tags</button>
		   
	              {{'{{'}}/if{{'}}'}}
		                
		     </div><!--closes links-->
		        
	         </div>
  </script>

           <script id="pagination-template" type="text/x-handlebars-template">
	            <div class="paginatorview">
			{{'{{'}}#paginator{{'}}'}}{{'{{'}}items{{'}}'}}{{'{{'}}/paginator{{'}}'}}
		    </div>
		Handlebars.registerHelper('paginator', function(items, options) {
		var out = "<ul>";

		for(var i=0, l=items.length; i<l; i++) {
		    out = out + "<li>" +i+ "</li>";
		}

		return out + "</ul>";
		});
	    </script>

		<script id="about-template" type="text/x-handlebars-template">
			
		     <div  id={{'{{'}}key{{'}}'}}>
			

		     <div  {{'{{'}}#if user_admin{{'}}'}}
		               
				         class="editable admin article clear aboutpost"
			       
			    {{'{{'}}/if{{'}}'}}
		      
		        {{'{{'}}#unless user_admin{{'}}'}}
			        
			      class="article clear aboutpost"
		       {{'{{'}}/unless{{'}}'}}>
		
	           {{'{{{'}}body{{'}}}'}} 
		   
	
		     </div>
	                
    
	               {{'{{'}}#if user_admin{{'}}'}}
		     <textarea class="clear" type="text">{{ '{{' }}post{{ '}}' }}</textarea>
	              {{'{{'}}/if{{'}}'}}
		       <div id="updated">
			  Updated: {{'{{'}}updated{{'}}'}}
			  </div>
		      <div class="links">
		  
	                     {{'{{'}}#if user_admin{{'}}'}}
	                 
		      <button class="save button">Save</button>
	              <button class="destroy button">Delete</button>
		
	              {{'{{'}}/if{{'}}'}}
		                
		     </div><!--closes links-->
		       
	         </div>
          </script>
		
		  <script id="new-post-template" type="text/x-handlebars-template">
          {{'{{'}}#if user_admin{{'}}'}}
          <form>
           <input  id="new-post-title" name="title" placeholder="Enter your title here">
           <textarea id="new-post-body" type="text"  autofocus></textarea>
	    <input  id="new-post-category" name="category" placeholder="Enter your category or use existing one">
            <input  id="new-post-tag" name="tag" placeholder="Enter your tags here,use comma between">
            <input id="submit" type="submit" class="button" value="Save">
          </form>  
          {{'{{'}}/if{{'}}'}}
      </script>




<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<!-- Defer-capable JavaScript block -->{% endblock %}		
    

		
      
      
      


	<!--<script data-main="js/main.js" src="{{url_for('static',filename="js/libs/require/require.js")}}"></script>-->
	<script src="{{url_for('static', filename="js/libs/modernizr-2.min.js")}}"></script>
	<script src="{{url_for('static', filename="js/libs/underscore/underscore-min.js")}}"></script>
	<script src="{{url_for('static', filename="js/libs/jquery/jquery-1.7.2.min.js")}}"></script>
	<script src="{{url_for('static', filename="js/libs/backbone/backbone-min.js")}}"></script>
	<script src="{{url_for('static', filename="js/libs/backbone.pagedcollection.js")}}"></script>
	<script src="{{url_for('static', filename="js/app.js")}}"></script>
	<script src="{{url_for('static', filename='js/libs/handlebars-1.0.0.beta.6.js')}}"></script>
	<script src="{{url_for('static', filename='js/libs/showdown.js')}}"></script>
	<script src="{{url_for('static', filename='js/libs/to-markdown.js')}}"></script>
	<script src="{{url_for('static', filename='js/models/user.js')}}"></script>
	<script src="{{url_for('static', filename='js/models/post.js')}}"></script>
	<script src="{{url_for('static', filename='js/models/tag.js')}}"></script>
	<script src="{{url_for('static', filename='js/models/category.js')}}"></script>
	<script src="{{url_for('static', filename='js/models/Item.js')}}"></script>
	<script src="{{url_for('static', filename='js/views/tagview.js')}}"></script>
	<script src="{{url_for('static', filename='js/views/categoryview.js')}}"></script>
	<script src="{{url_for('static', filename='js/views/postview.js')}}"></script>
	<script src="{{url_for('static', filename='js/views/aboutview.js')}}"></script>
	<script src="{{url_for('static', filename='js/collections/postscollection.js')}}"></script>
	<script src="{{url_for('static', filename='js/collections/tagscollection.js')}}"></script>
	<script src="{{url_for('static', filename='js/collections/categoriescollection.js')}}"></script>
	<script src="{{url_for('static', filename="js/routes.js")}}"></script>

	



        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
