{% extends "base.html" %}

{% block title %}
    Armen Arsakian personal blog
{% endblock %}

{% block content%}

    <div class="page-header">
	<h2>My posts</h2>
    </div>
    {%if posts %}
	<div id="posts" id="bdinner">
	    {%for post in posts%}
		<div  id="{{post.key()}}" class="classic">
		   <h2>{{post.title}}</h2>
		    <div class="row-fluid">
              
			<div class="post span9">
			   
				  <div  class="article clear">
				    {{post.body}}
		      
				</div><!--closes article-->
			</div><!--closes post-->
		     
		       <div class="span3">
	
			
			
		      </div>    
		</div>
		
             </div>		
	{% endfor %}
      </div>
    {%endif%}
    
    <div id="newpost" class="clear">
            <!--holdes a form for new post--> 
    </div>
    {%if user_status%}
        <div class="links">   
            <a class="btn edit" href="/edit">Edit</a>
                          
        </div>
    {%endif%}
 
    
{% endblock %}

{% block footer%}
<div id="ftinner">
    <div class="span10">
        <p> Armen Arsakian updated at <span class="siteupdate">{{siteupdated}}</span><span class="countdown">  {{daysleft}} . {{dayspassed}}</span></p>
    </div>
    <div class="span1 offset1">
        <span class="version"><a href="/built with...">v:0.5</a></span>
    </div>
</div>
  
{% endblock %}
